Source: psimedia
Section: net
Priority: optional
Maintainer: Boris Pek <tehnick@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               libgstreamer-plugins-bad1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               qtbase5-dev
Homepage: https://github.com/psi-plus/psimedia
Vcs-Git: https://github.com/tehnick/psimedia-debian.git
Vcs-Browser: https://github.com/tehnick/psimedia-debian
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: psi-plus-plugin-psimedia
Architecture: any
Depends: gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-ugly,
         psi-plus | psi-plus-webkit,
         ${misc:Depends},
         ${shlibs:Depends}
Replaces: psimedia
Description: plugin for Psi+ for audio and video calls
 Psimedia is a thick abstraction layer for providing audio and video RTP
 services to Psi IM and Psi+ XMPP clients.
 .
 Current implementation is based on GStreamer.
