Source: psimedia
Section: net
Priority: extra
Maintainer: Boris Pek <tehnick@debian.org>
Build-Depends: debhelper (>= 9),
               libgstreamer-plugins-base0.10-dev (>= 0.10.23),
               liboil0.3-dev,
               libqt4-dev (>= 4.4.0),
               libspeexdsp-dev (>= 1.2~rc1),
               qconf
Homepage: https://github.com/psi-plus/psimedia
Vcs-Git: git://github.com/tehnick/psimedia-debian.git
Vcs-Browser: https://github.com/tehnick/psimedia-debian
Standards-Version: 3.9.4

Package: psi-plus-plugin-psimedia
Architecture: any
Depends: gstreamer0.10-alsa [linux-any],
         gstreamer0.10-plugins-good,
         libqca2-plugin-ossl,
         psi-plus | psi-plus-webkit,
         ${misc:Depends},
         ${shlibs:Depends}
Replaces: psimedia
Description: Plugin for Psi/Psi+ for audio and video calls
 PsiMedia is a thick abstraction layer for providing
 audio and video RTP services to Psi-like IM clients.
 .
 The implementation is based on GStreamer.
